@import url(nav.css);

*{
    margin: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: black;
}
#contact{
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    padding-bottom: 60px;
}

.c-head{
    text-align: center;
    margin: 20px;
    padding-top: 20px;
    font-size: 2.5em;
    font-family: 'Pushster', cursive;
    letter-spacing: 1px;
}
.c-box{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border: 2px solid crimson;
    gap: 3rem;
    padding: 3rem;
    padding-bottom: 100px;
    height: max-content;
}
.c-head_1{
    color: crimson;
}
.c-btn:hover{
    background-color: crimson;
    color: black;
    font-weight: bold;
}
.c-box_1{
    width: 50vw;
}
.c-box_p{
    font-family: poppins;
    font-weight: 700;
    letter-spacing: 1px;
    
}
.c-box_p-1{
    width: 100%;
    margin: 10px 0;
    font-family: poppins;
    font-weight: 700;

}
.c-head_2{
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    
}
.co{
    color: crimson;
}
.c-box_head{
    font-family: 'Roboto Slab', serif;
    color: crimson;
    font-weight: bold;
}
.add{
    margin: 10px 10px;
}

.wid{
    width: 80%;
    margin: 10px 10%;
    height: 30px;border-radius: 20px;
    border: 2px solid black;
    padding: 0 10px;
    color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 12px;
}
.int{
    width: 100%;
    height: 50vh;
}
.c-int{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.c-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 30px;
}
.int{
    /* border: 2px solid black; */
    padding: 10px;
   

}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: crimson;
    border-radius: 12px;
}

.c-place{
    width: 40vw;
    height: 35vh;
    resize: none;
    padding: 10px 20px ;
    color: black;
    letter-spacing: 1px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;

}
.c-btn{
    background-color: black;
    color: white;
    width: 150px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 20px ;
    box-shadow: 0px 0px 3px 3px crimson;
    margin-top: 10px;
    text-transform: capitalize;
    font-size: 0.7em;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Yuji Hentaigana Akebono', cursive;
    cursor: pointer;
}
.fas{
    color: crimson;
    margin: 5px;
}







@media screen and (max-width: 650px) {
    .c-box{
        flex-direction: column;
        gap: 0;
        padding: 2rem;
        padding-bottom: 100px;
    }
    .c-place{
        width: 100%;
        font-size: 12px;
    }
    .wid{
        font-size: 10px;
        width: 95%;
        margin: 10px 5%;
    }
    .c-main{
        padding:10px 0;
    }
    .int{
        padding: 0;
    }
    .c-box_p-1{
        width: 220px;
    }
}
