*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
}
.n-logo{
    margin-right :10px;
    color: crimson;
    font-size: 17px;
}

ul{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
  

}
.n-li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none; 
    background-color: #1a1a1a;
    text-align: center;
    border-left: 2px solid black;
    font-family: poppins;
    font-weight: 900;
    letter-spacing: 1px;
    height: 8vh;
}

li:hover{
    background-color: black;
}

::-webkit-scrollbar{
    width: 8px;
    position: absolute;
    z-index: -1
}
::-webkit-scrollbar-thumb{
    background-color: crimson;
    border-radius: 12px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 1em;
    text-transform: capitalize;
    cursor: pointer;  
}
#fith{
    border-right: 2px solid black;
    
}
@media screen and (max-width:673px) {
    .n-text{
        display: none;
        
    }
    .n-logo{
        width: 15px;
        margin:0;
    }
}
@media screen and (max-width:450px) {
    .n-logo{
        width: 13px;
    }
}